{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "filepath": "none",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "printWidth": 70,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "rangeStart": 0,
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}