{
    "$schema": "https://json.schemastore.org/swcrc",
    "module": {
        "type": "commonjs",
        "strict": true
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": false,
            "decorators": true
        },
        "target": "esnext",
        "loose": false,
        "externalHelpers": false,
        "baseUrl": "./",
        "paths": {
            "@/*": [
                "./src/*"
            ],
            "$/*": [
                "./src/types/*"
            ]
        },
        "preserveAllComments": true
    },
    "minify": false
}