name: Python Package CI

on:
  pull_request:
    branches:
      - main
      - develop
      - feature/*
    paths:
      - 'package/umt_python/**'
      - '.github/workflows/python-package-ci.yml'
  workflow_dispatch:
permissions:
  pull-requests: write
jobs:
    format:
        name: Run Format Check
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
                os: [ubuntu-latest]
        defaults:
          run:
            working-directory: ./package/umt_python
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - name: Install uv
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
              with:
                  enable-cache: true
                  python-version: ${{ matrix.python-version }}
            - name: Run Format Check
              run: make format

    lint:
        name: Run Lint
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
                os: [ubuntu-latest]
        defaults:
          run:
            working-directory: ./package/umt_python
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - name: Install uv
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
              with:
                  enable-cache: true
                  python-version: ${{ matrix.python-version }}
            - name: Run Lint
              run: make lint

    typecheck:
        name: Run Type Check
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
                os: [ubuntu-latest]
        defaults:
          run:
            working-directory: ./package/umt_python
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - name: Install uv
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
              with:
                  enable-cache: true
                  python-version: ${{ matrix.python-version }}
            - name: Run Type Check
              run: make typecheck

    test:
        name: Run Tests
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
            os: [ubuntu-latest]
        defaults:
          run:
            working-directory: ./package/umt_python
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - name: Install uv
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
              with:
                  enable-cache: true
                  python-version: ${{ matrix.python-version }}
            - name: Run Tests
              run: make test