name: Rust Package CI
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - develop
      - feature/*
    paths:
      - 'package/umt_rust/**'
      - '.github/workflows/rust-package-ci.yml'
  workflow_dispatch:

jobs:
  format:
    name: Check Format
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./package/umt_rust
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Check Format
        run: cargo fmt --check

  clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./package/umt_rust
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - name: Run Clippy
        run: cargo clippy -- -D warnings

  build:
    name: Build Package
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./package/umt_rust
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@nightly
      - name: Build Package
        run: cargo build
