name: Wasm Plugin CI
permissions:
  contents: read

on:
    pull_request:
      branches:
        - main
        - develop
        - feature/*
      paths:
        - 'package/umt_wasm/src/**'
    workflow_dispatch:

jobs:
    build:
        name: Build Package
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: ./package/umt_wasm
        steps:
        - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        - uses: ./.github/actions/cache_cargo
        - name: Build Package
          run: cargo build
    test:
      name: Run Tests
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: ./package/umt_wasm
      steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/cache_cargo
      - name: Run Tests
        run: cargo test --all -- --nocapture
      needs: build